<div class="calendar-grid">
    <div *ngFor="let dayObj of daysInMonth" 
     cdkDropList 
     [cdkDropListData]="[dayObj.date]" 
     (cdkDropListDropped)="drop($event, dayObj.date)">
      {{ dayObj.date.getDate() }}
      <div *ngFor="let appointment of dayObj.appointments" cdkDrag [cdkDragData]="appointment">
        {{ appointment.title }}
        <button mat-icon-button (click)="deleteAppointment(appointment.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
</div>